
 //colors
 $primary-text-color: #354E57;
 $bg-color-main:#EEF3F4;
 $text-color-main:   #354E57;
 $light-brown:#A67744;
 $dark-blue:#354E57;
 $pastel-green:#547665;
 $white:white;


//fonts
$title-font: 3rem;