//colors
$primary-text-color: #354e57;
$bg-color-main: #eef3f4;
$text-color-main: #354e57;
$light-brown: #a67744;
$light-brown-btn: #956a53;
$dark-blue: #354e57;
$pastel-green: #547665;
$white: white;

//fonts
$title-font: 3rem;

//borders
$pastel-green-border: 1px solid $pastel-green;
$white-border: 1px solid $white;
