@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixin.scss';

.products-overview{
    width: 100vw;
    height: 100vh;
    background-color: $bg-color-main;
    color: #354E57;
   
    
    .title-container{
        height: 15vh;
        text-align: center;
        @include flex-direction-column;
        @include flex-center-all;

        h2{
            font-size: 2rem;
            margin-bottom: 1rem;
            
        }

}
.category-products{
  height: 2rem;
  width: 68.5rem;
  // border: 1px solid black;
  margin: auto;
  margin-top: 3rem;
  font-weight: 600;
  color: #2E2E22;


  @include space-between;
  .popular-product{
    // float: left;

  }
  .all-products{
    // float: right
  }
}
  .products-container{
    @include flex-direction-row;
    @include flex-center-all;
    // height: 85vh;
    // border: 1px solid black;
    

    
  }

}