@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixin.scss";

.products-overview {
  background-color: $bg-color-main;
  color: $dark-blue;

  .title-container {
    text-align: center;
    border-bottom: $pastel-green-border;
    border-top: $pastel-green-border;
    @include flex-direction-column;
    @include flex-center-all;

    h2 {
      font-size: 28px;
      padding: 43px 0 6px 0;
    }

    p {
      font-weight: 500;
      margin-bottom: 40px;
    }
  }

  .category-products {
    height: 2rem;
    width: 68.5rem;
    margin: auto;
    margin-top: 3rem;
    font-weight: 600;
    color: #2e2e22;
    @include space-between;
    cursor: pointer;
  }

  .products-container {
    @include flex-direction-row;
    @include flex-center-all;
  }
}
