@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixin.scss";

.header {
  background-color: $bg-color-main;
  color: $text-color-main;
  @include flex-direction-row;

  .header-text-container {
    width: 50%;

    .text-wrapper {
      margin: 0 0 14.5rem 8.75rem;
      text-align: start;

      .new-label {
        margin-top: 6.87rem;
        @include new-label;
      }

      .header-title {
        font-size: $title-font;
        padding: 1rem 0;
      }

      .header-text {
        line-height: 1.5rem;
      }

      .shop-btn {
        margin-top: 1.75rem;
        @include shop-btn;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .header-img-container {
    width: 50%;
    background-size: cover;
    background-image: url(../../assets//images/header-img2.png);
  }
}
