@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixin.scss';

.navbar{
    height: 5rem;
    padding: 2.75rem  5.3rem;
    background-color: $bg-color-header;

    .nav-item{
        letter-spacing: 0.6px;
         color:$primary-text-color;
        font-weight: bold;
        font-size: 0.87rem;
    }
    a { 
        text-decoration: none;
        color: inherit;
    }
    .nav-top ul{
        list-style: none;
      @include space-between;
    
        .nav-top-left{
            @include flex-start;
            width: 40%;
             li{
                padding: 0.9rem 1.85rem 0.9rem 0;
                text-transform: uppercase;  
            }
        }
        .nav-top-right{
            @include flex-end;
            width: 40%;
            li{
               padding: 0.9rem 0 0.9rem 1.4rem;
               text-transform: uppercase;
               
           }
        }
        
        .nav-item-center li{
            margin-top: 1.25rem;
            font-size: 2rem;
            letter-spacing: 1.6px;
            color: $primary-text-color;
            font-weight: 500
        }
    }
    .nav-bottom {
         @include flex-center-all;
        height: 2rem;
         ul {
            list-style: none;
            @include flex-direction-row;
        }
         li {
            padding: 1.75rem 1.85rem 0 1.85rem;
            letter-spacing: 0.8px;
            color: $primary-text-color;
        }
    }
}




