@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixin.scss";

.searchBar-item {
  @include flex-direction-row;
  max-width: 1rem;
  max-height: 3rem;

  .searchBar-item-img {
    max-width: 30%;
    max-height: 100px;

    img {
      object-fit: cover;
    }
  }
  .searchBar-item-name {
    max-width: 70%;
    max-height: 100%;
  }
}
