@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixin.scss';

.shop-section{
    width: 100vw;
    height: 100vh;
    @include flex-direction-row;
    color: $white;

    .text-container{
        width: 50vw;
        height: 100vh;
        background-color: $pastel-green;
        @include flex-center-all;

        .text-wrapper{
            margin-left: 4rem;
            text-align: start;

            .header-title{
                font-size: 2.7rem;
                padding:1rem 0;
                line-height: 3.5rem;
            }
            .header-text{
                line-height: 1.5rem;
                margin-top: 1rem;
            }
            .shop-btn{
                margin-top: 3rem;
                @include shop-btn;
                background:none;
                border: 1px solid $white;
                color: $white;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .img-container{
        width: 50vw;
        height: 100vh;

        img{
            width: 100%;
            height: 100%;
        }
    }
}