@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixin.scss";
.login-page {
  @include form-page-layout;
  .login-wrapper {
    @include flex-direction-column;
    padding-bottom: 400px;
    h2 {
      @include form-title;
    }
    input {
      @include form-input;
    }
    ::placeholder {
      padding-left: 1rem;
    }
    button {
      @include form-button;
    }
  }
  span {
    @include underline-span;
  }
  p {
    font-size: 14px;
  }
}
